* {
    font-family: "Roboto", sans-serif;
}

div {
    text-align: center;
    padding: 10px;
    margin: 0 auto;
}

.options {
    padding: 0px;
}

button {
    margin: 0 3px;
    height: 36px;
    width: 100px;
    font-size: medium;
}

